.custom-navbar{
    background: linear-gradient(#6b0312, black) !important;
    color: white;
    padding: 1.1rem;
}
.custom-navbar a{
    color: white;
}
.custom-navbar a:hover{
    color: gray;
}
.label-magenta{
    position: absolute;
    left: 44%;
    bottom: 15%;
}
#loginBtn{
    border: #1d2124 solid 1px;
}
#loginBtn:hover{
    background-color: #6b0312;
    color: white;
    border: none;
}