<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbarUser}"></header>
<main class="container">
    <div class="row" th:if="${profile.contract.status == profile.contract.status.BLOCKED}">
        <div class="alert alert-warning flex-grow-1 shadow-lg mb-4">
            <h1 class="alert-heading text-center mb-0">Contract blocked!</h1>
            <p class="lead mb-0 text-center">Contact your administrator to unlock the contract</p>
        </div>
    </div>
    <div th:text="${profile.contract.number}"></div>
    <div th:text="${profile.contract.user.login}"></div>
    <div th:text="${profile.contract.tariff.name}"></div>
    <div th:each="option : ${profile.contract.options}">
        <span th:text="${option.name}"></span>
    </div>
    <form th:action="@{/user/switchTariff}" th:method="POST" th:object="${switch}">
        <input type="hidden" th:value="${profile.contract.id}" th:attr="name='contractId'">
        <input type="hidden" th:value="${profile.contract.user.id}" th:attr="name='userId'">
        <select id="tariff" class="custom-select" th:attr="name='tariffId'">
            <option th:each="tariff: ${tariffs}"
                    th:value="${tariff.id}"
                    th:text="${tariff.name}">
            </option>
        </select>
        <button type="submit" class="btn btn-primary">Switch tariff</button>
    </form>
</main>
<footer th:replace="~{footer::footer}"></footer>
</body>
</html>