<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbarUser}"></header>
<main class="container-fluid mr-2">
    <div class="row" th:if="${profile.contract.status == profile.contract.status.BLOCKED}">
        <div class="alert alert-warning flex-grow-1 shadow-lg mb-4">
            <h1 class="alert-heading text-center mb-0">Contract blocked!</h1>
            <p class="lead mb-0 text-center">Contact your administrator to unlock contract</p>
        </div>
    </div>
    <div class="row" th:if="${profile.contract.user.status == profile.contract.user.status.BLOCKED}">
        <div class="alert alert-warning flex-grow-1 shadow-lg mb-4">
            <h1 class="alert-heading text-center mb-0">Your account blocked</h1>
            <p class="lead mb-0 text-center">Contact your administrator to unlock account</p>
        </div>
    </div>
    <div class="row" th:text="${response}">
        <div class="alert alert-warning flex-grow-1 shadow-lg mb-4">
            <h1 class="alert-heading text-center mb-0">Success</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 pt-4">
            <div class="col-md-12">
                <div class="form-row">
                    <form th:action="@{/user/block-contract}" th:method="POST" th:object="${status}"
                          th:if="${profile.contract.status == profile.contract.status.ACTIVE
                    && profile.contract.user.status == profile.contract.user.status.ACTIVE}" class="col">
                        <input type="hidden" th:attr="name='entityId'" th:value="${profile.contract.id}">
                        <input type="hidden" th:attr="name='status'" th:value="'BLOCKED'">
                        <button type="submit" class="btn btn-block btn-outline-warning">Block</button>
                    </form>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="card border rounded-lg border-dark shadow">
                    <h4 class="card-header">Contract</h4>
                    <div class="card-body">
                        <dl>
                            <dt>Number</dt>
                            <dd th:text="${profile.contract.number}"></dd>
                            <dt>First name</dt>
                            <dd th:text="${profile.contract.user.firstname}"></dd>
                            <dt>Last name</dt>
                            <dd th:text="${profile.contract.user.lastname}"></dd>
                            <dt>Tariff</dt>
                            <dd th:text="${profile.contract.tariff.name}"></dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="card">
                    <h5 class="card-header">
                        Options
                    </h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Cost of add</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="tariff: ${profile.tariffDtoList}">
                                    <tr th:each="option: ${tariff.getOptions()}">
                                        <td th:text="${option.name}"></td>
                                        <td th:text="${option.price}"></td>
                                        <td th:text="${option.addCost}"></td>
                                        <td>
                                            <div th:if="${profile.contract.status == profile.contract.status.ACTIVE
                                                            && profile.contract.user.status == profile.contract.user.status.ACTIVE}">
                                                <form class="mt-2 px-4" th:method="POST" th:action="@{/user/contract/addOption}" th:object="${editContractDto}">
                                                    <input type="hidden" th:value="${profile.contract.id}" th:attr="name='contractId'">
                                                    <input type="hidden" th:value="${option.id}" th:attr="name='optionId'">
                                                    <button type="submit" class="btn btn-outline-danger">Add</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="card">
                    <h5 class="card-header">
                        Options
                    </h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Cost of add</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="option: ${profile.contract.options}">
                                    <td th:text="${option.name}"></td>
                                    <td th:text="${option.price}"></td>
                                    <td th:text="${option.addCost}"></td>
                                    <td>
                                        <div th:if="${profile.contract.status == profile.contract.status.ACTIVE
                                                           && profile.contract.user.status == profile.contract.user.status.ACTIVE}">
                                            <form class="mt-2 px-4" th:method="POST" th:action="@{/user/contract/deleteOption}" th:object="${editContractDto}">
                                                <input type="hidden" th:value="${profile.contract.id}" th:attr="name='contractId'">
                                                <input type="hidden" th:value="${option.id}" th:attr="name='optionId'">
                                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 pt-4">
            <div class="col-md-6">
                <div th:if="${profile.contract.status == profile.contract.status.ACTIVE
                    && profile.contract.user.status == profile.contract.user.status.ACTIVE}">
                    <h2>Available tariff</h2>
                    <form th:action="@{/user/switchTariff}" th:method="POST" th:object="${switch}">
                        <input type="hidden" th:value="${profile.contract.id}" th:attr="name='contractId'">
                        <input type="hidden" th:value="${profile.contract.user.id}" th:attr="name='userId'">
                        <select id="tariff" class="custom-select" th:attr="name='tariffId'">
                            <option th:each="tariff: ${profile.tariffDtoList}"
                                    th:value="${tariff.id}"
                                    th:text="${tariff.name}">
                            </option>
                        </select>
                        <br/>
                        <button type="submit" class="btn btn-primary">Switch tariff</button>
                    </form>
                </div>
                <div th:unless="${profile.contract.status == profile.contract.status.ACTIVE
                    && profile.contract.user.status == profile.contract.user.status.ACTIVE}">
                    You cannot switch tariff. Contract blocked or account not active
                </div>
            </div>
            <div class="row mt-4">
<!--                <div class="col-md-6">-->
<!--                    <div class="card">-->
<!--                        <h5 class="card-header">-->
<!--                            Available options-->
<!--                        </h5>-->
<!--                        <div class="card-body">-->
<!--                            <div class="table-responsive">-->
<!--                                <table class="table">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th scope="col">Name</th>-->
<!--                                        <th scope="col">Price</th>-->
<!--                                        <th scope="col">Cost of add</th>-->
<!--                                        <th scope="col"></th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <tr th:each="option: ${profile.contract.tariff.availableOptions}">-->
<!--                                        <td th:text="${option.name}"></td>-->
<!--                                        <td th:text="${option.price}"></td>-->
<!--                                        <td th:text="${option.addCost}"></td>-->
<!--                                        <td>-->
<!--                                            <form class="mt-2 px-4" th:method="POST" th:action="@{/admin/edit/addOptionToContract}" th:object="${optionToContract}">-->
<!--                                                <input type="hidden" th:value="${profile.contract.id}" th:attr="name='contractId'">-->
<!--                                                <input type="hidden" th:value="${option.id}" th:attr="name='optionId'">-->
<!--                                                <button type="submit" class="btn btn-outline-danger">Add</button>-->
<!--                                            </form>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card-footer">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
<!--    -->
<!--    <div class="row" th:if="${profile.contract.status == profile.contract.status.BLOCKED}">-->
<!--        <div class="alert alert-warning flex-grow-1 shadow-lg mb-4">-->
<!--            <h1 class="alert-heading text-center mb-0">Contract blocked!</h1>-->
<!--            <p class="lead mb-0 text-center">Contact your administrator to unlock contract</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-12">-->
<!--        <div class="form-row">-->
<!--            <form th:action="@{/user/block-contract}" th:method="POST" th:object="${status}"-->
<!--                  th:if="${profile.contract.status == profile.contract.status.ACTIVE}" class="col">-->
<!--                <input type="hidden" th:attr="name='entityId'" th:value="${profile.contract.id}">-->
<!--                <input type="hidden" th:attr="name='status'" th:value="'BLOCKED'">-->
<!--                <button type="submit" class="btn btn-block btn-outline-danger">Block contract</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div th:text="${profile.contract.number}"></div>-->
<!--    <div th:text="${profile.contract.user.login}"></div>-->
<!--    <div th:text="${profile.contract.tariff.name}"></div>-->
<!--    <div th:each="option : ${profile.contract.options}">-->
<!--        <span th:text="${option.name}"></span>-->
<!--    </div>-->
<!--    <div th:if="${profile.contract.status != profile.contract.status.BLOCKED}">-->
<!--        <form th:action="@{/user/switchTariff}" th:method="POST" th:object="${switch}">-->
<!--            <input type="hidden" th:value="${profile.contract.id}" th:attr="name='contractId'">-->
<!--            <input type="hidden" th:value="${profile.contract.user.id}" th:attr="name='userId'">-->
<!--            <select id="tariff" class="custom-select" th:attr="name='tariffId'">-->
<!--                <option th:each="tariff: ${tariffs}"-->
<!--                        th:value="${tariff.id}"-->
<!--                        th:text="${tariff.name}">-->
<!--                </option>-->
<!--            </select>-->
<!--            <button type="submit" class="btn btn-primary">Switch tariff</button>-->
<!--        </form>-->
<!--    </div>-->
</main>
<footer th:replace="~{footer::footer}"></footer>
</body>
</html>