<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbarUser}"></header>
<!--<main>-->
<!--    <div class="col-md-4">-->
<!--        <div class="card">-->
<!--            <h5 class="card-header">-->
<!--                Info-->
<!--            </h5>-->
<!--            <div class="card-body">-->
<!--                <dl>-->
<!--                    <dt>First name</dt>-->
<!--                    <dd th:text="${user.firstname}"></dd>-->
<!--                    <dt>Last name</dt>-->
<!--                    <dd th:text="${user.lastname}"></dd>-->
<!--                    <dt>Address</dt>-->
<!--                    <dd th:text="${user.address}"></dd>-->
<!--                    <dt>Birth date</dt>-->
<!--                    <dd th:text="${user.birthdate}"></dd>-->
<!--                    <dt>E-mail</dt>-->
<!--                    <dd th:text="${user.email}"></dd>-->
<!--                    <dt>Passport</dt>-->
<!--                    <dd th:text="${user.passport}"></dd>-->
<!--                </dl>-->
<!--            </div>-->
<!--            <div class="card-footer">-->
<!--                <a th:href="@{/admin/edit/deleteUser{id}(id = ${user.getId()})}"-->
<!--                   class="btn btn-outline-danger btn-sm">Delete</a>-->
<!--                <a th:href="@{/admin/edit/updateUser{id}(id = ${user.getId()})}"-->
<!--                   class="btn btn-outline-primary btn-sm">Edit</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
</body>
</html>