<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <!--  Balance card  -->

    <div th:fragment="balance_card" class="card text-white bg-info shadow-lg my-0">
        <div class="row justify-content-center my-2">
            <h4 class="col-md-6 text-center"><b class="text-uppercase">Balance:</b></h4>
            <div class="col-md-6">
                <p class="lead text-center mr-auto mb-0">[[${profile.user.balance}]]$</p>
            </div>
            <a class="col-md-10 btn btn-outline-dark py-0"
               th:classappend="${profile.user.status != profile.user.status.ACTIVE}? 'disabled' "
               th:href="@{/admin/user/{id}/balance (id = ${profile.user.id})}">Add funds</a>
        </div>
    </div>


</body>
</html>