<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbar}"></header>
<main class="py-5">
    <div class="container">
        <div class="row">
            <div class="p-5 col-lg-6">
                <h1>Welcome to Magenta</h1>
                <p class="mb-3">Please, enter your login and password</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Login" id="login" aria-label="login">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" id="password" aria-label="password">
                        <small class="form-text text-muted text-right">
                        <a href="#"> Forgot your password?</a>
                    </small>
                    </div> <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{footer::footer}"></footer>
</body>
</html>