<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbarAdmin}"></header>
<main class="container mt-3">
    <div class="row justify-content-center mt-2"><h1 class="h1">New contract</h1></div>
    <div class="row mt-4">
        <div th:unless="${user.id == 0}" class="col-4">
            <div class="card">
                <h4 class="card-header bg-danger">User info</h4>
                <div class="card-body">
                    <dl>
                        <dt>First name</dt>
                        <dd th:text="${user.firstname}"></dd>
                        <dt>Last name</dt>
                        <dd th:text="${user.lastname}"></dd>
                        <dt>Address</dt>
                        <dd th:text="${user.address}"></dd>
                        <dt>Birth date</dt>
                        <dd th:text="${user.birthdate}"></dd>
                        <dt>E-mail</dt>
                        <dd th:text="${user.email}"></dd>
                        <dt>Passport</dt>
                        <dd th:text="${user.passport}"></dd>
                        <dt>Login</dt>
                        <dd th:text="${user.login}"></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-6 border border-3 border-dark rounded align-self-end">
            <div class="row justify-content-center"><h3 class=" h3 text-center">BlaBlaBla</h3></div>
            <form class="mt-2 px-4" th:method="POST" th:action="@{/admin/new/contract}" th:object="${contract}">
                <h4 class="h4">Contract</h4>
                <div class="row">
                    <div class="col-6 px-2">
                        <label for="number" class="form-label">Number</label>
                        <input id="number" type="text" class="form-control" placeholder="Number" th:field = "*{number}">
                        <input type="hidden" th:value="${user.id}" th:attr="name='userId'">
                    </div>
                    <div class="col-6 px-2">
                        <label for="tariff" class="form-label">Tariff</label>
                        <select id="tariff" class="custom-select" th:field="*{tariffId}">
                            <option th:each="tariff : ${tariffs}"
                                    th:value="${tariff.getId()}"
                                    th:text="${tariff.getName()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <br/>
                    <button type="submit" class="btn btn-primary">Create contract</button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{footer::footer}"></footer>
</body>
</html>