<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbarAdmin}"></header>

<main class="container p-5">
    <div class="row justify-content-center py-5">
        <div class="col-md-8">
            <div class="card bg-light mb-3 border shadow">
                <div class="card-header h2 text-left">Balance form</div>
                <div class="card-body">
                    <h2 class="card-title text-center mb-4" th:text="'Current balance: ' + ${user.balance} + '$'"></h2>
                    <form class="form-inline justify-content-around" th:method="POST" th:action="@{/admin/edit/balance}" th:object="${funds}">
                        <div class="input-group">
                            <input type="hidden" th:value="${user.id}" th:attr="name='userId'">
                            <input type="number" class="form-control" placeholder="500.000" th:field="*{funds}">
                            <div class="col-3 input-group-append ml-3"><button class="btn btn-block btn-success" type="submit">Yes</button></div>
                            <div class="col-3 input-group-append ml-3"><a th:href="@{/admin/user{id}(id = ${user.id})}" class="btn btn-block btn-outline-danger">Cancel</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{footer::footer}"></footer>
</body>
</html>