<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbar}"></header>
<main>
    <form class="form-control" th:method="POST" th:action="@{/admin/option}" th:object="${option}">
        <label for="name">Name:</label>
        <input type="text" th:field = "*{name}" id="name">
        <br/>
        <label for="price">Price</label>
        <input type="text" th:field = "*{price}" id="price">
        <br/>
        <label for="addcost">Cost:</label>
        <input type="text" th:field = "*{addCost}" id="addcost">
        <input type="submit" value="Create Option">
    </form>
</main>
</body>
</html>