<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace ="~{header::navbarAdmin}"></header>
<main class="container">
    <div class="row">
        <h1 class="display-1 mt-2">Hello, Admin!</h1>
    </div>

</main>
<footer th:replace="~{footer::footer}"></footer>
</body>
</html>