<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbarAdmin}"></header>
<main class="container-fluid">
    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row display-3 mx-auto">Options</div>
                </div>
                <div class="btn btn-success col-md-4 text-center text-uppercase p-4">
                    <a class="btn text-light" th:href="@{/admin/option/new}">Add new option</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row p-2">
                <div class="bg-dark col-md-12">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light"
                           th:each="option: ${options.optionDtoList}" th:href="@{/admin/option/{id}(id = ${option.id})}">
                            <div class="d-flex w-100 justify-content-between">
                                <h3 class="mb-1" th:text="${option.name}"></h3>
                                <strong class="h4" th:text="${option.status}"></strong>
                            </div>
                            <p class="lead mb-1" th:text="${option.optionDescription}"></p>
                            <b th:text="${option.price}">Price</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<main class="container">-->
<!--    <h1>List of options</h1>-->
<!--    <div class="row">-->
<!--        <div class="col-8 justify-content-start">-->
<!--            <table class="table table-hover table-danger">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">Name</th>-->
<!--                    <th scope="col">Price</th>-->
<!--                    <th scope="col">Cost</th>-->
<!--                    <th scope="col">Delete</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="option: ${options}">-->
<!--                    <td th:text="${option.getName()}"></td>-->
<!--                    <td th:text="${option.getPrice()}"></td>-->
<!--                    <td th:text="${option.getAddCost()}"></td>-->
<!--                    <td><a th:href="@{/admin/edit/deleteOption{id}(id = ${option.getId()})}">Delete</a></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--    <a th:href="@{/admin}">Back to main</a>-->
<!--</main>-->
<footer th:replace="~{footer::footer}"></footer>
</body>
</html>