<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body class="d-flex flex-column min-vh-100 bg-light">
<header th:replace="~{header::navbarAdmin}"></header>
<main class="container-fluid">
    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-3 ml-5" style="">Users</h1>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-hover table-dark">
                            <thead>
                            <tr>
                                <th scope="col">Id<br></th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user: ${users.listOfUsers}">
                                <th th:text="${user.id}">1</th>
                                <td><a th:text="${user.firstname}" th:href="@{/admin/user{id}(id = ${user.getId()})}"></a></td>
                                <td th:text="${user.lastname}">Otto</td>
                                <td th:text="${user.login}">Mark</td>
                                <td th:text="${user.status}" class="bg-success">Active</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-info" th:href="@{/admin}">Back to main</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="mt-auto" th:replace="~{footer::footer}"></footer>
</body>
</html>
