<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbarAdmin}"></header>
<main class="container-fluid px-3">
    <div class="row">
        <div class="col-md-3 p-3">
            <div class="card border rounded-lg border-dark shadow">
                <h4 class="card-header">Option</h4>
                <div class="card-body">
                    <dl>
                        <dt>Name</dt>
                        <dd th:text="${profile.option.name}"></dd>
                        <dt>Price</dt>
                        <dd th:text="${profile.option.price}"></dd>
                        <dt>Description</dt>
                        <dd th:text="${profile.option.optionDescription}"></dd>
                        <dt>Status</dt>
                        <dd th:text="${profile.option.status}"></dd>
                        <dt>Connection cost</dt>
                        <dd th:text="${profile.option.addCost}"></dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a class="btn btn-danger" th:href="@{/admin/edit/deleteOption{id}(id=${profile.option.id})}">Delete</a>
                </div>
            </div>
        </div>
        <div class="col-md-9 pt-3">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">
                            Related options
                        </h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Cost of add</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="related: ${profile.option.relatedOptions}">
                                            <td th:text="${related.id}"></td>
                                            <td th:text="${related.name}"></td>
                                            <td th:text="${related.price}"></td>
                                            <td th:text="${related.addCost}"></td>
                                            <td>
                                                <form class="mt-2 px-4" th:method="POST" th:action="@{/admin/edit/relativeDel}" th:object="${relDel}">
                                                    <input type="hidden" th:value="${profile.option.id}" th:attr="name='targetOptionId'">
                                                    <input type="hidden" th:value="${related.id}" th:attr="name='addedOptionId'">
                                                    <input type="hidden" th:value="'RELATED'" th:attr="name='optionRelative'">
                                                    <button type="submit" class="btn btn-outline-danger">Cancel</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">
                            Excluded options
                        </h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Cost of add</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="excluded: ${profile.option.excludedOptions}">
                                        <td th:text="${excluded.id}"></td>
                                        <td th:text="${excluded.name}"></td>
                                        <td th:text="${excluded.price}"></td>
                                        <td th:text="${excluded.addCost}"></td>
                                        <td>
                                            <form class="mt-2 px-4" th:method="POST" th:action="@{/admin/edit/relativeDel}" th:object="${relDel}">
                                                <input type="hidden" th:value="${profile.option.id}" th:attr="name='targetOptionId'">
                                                <input type="hidden" th:value="${excluded.id}" th:attr="name='addedOptionId'">
                                                <input type="hidden" th:value="'EXCLUDED'" th:attr="name='optionRelative'">
                                                <button type="submit" class="btn btn-outline-danger">Cancel</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">
                            Lead options
                        </h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Cost of add</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="lead: ${profile.option.leadOptions}">
                                        <td th:text="${lead.id}"></td>
                                        <td th:text="${lead.name}"></td>
                                        <td th:text="${lead.price}"></td>
                                        <td th:text="${lead.addCost}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <form class="mt-2 px-4" th:method="POST" th:action="@{/admin/edit/relativeAdd}" th:object="${relAdd}">
                        <h4 class="h4">All available options</h4>
                        <div class="row">
                            <div class="col-6 p-2">
                                <input type="hidden" th:value="${profile.option.id}" th:attr="name='targetOptionId'">
                                <select class="custom-select my-2" th:attr="name='optionRelative'">
                                    <option th:each="rule: ${T(com.magenta.crud.type.OptionRelative).values()}"
                                            th:value="${rule.getRule()}"
                                            th:text="${rule.getRule()}">
                                    </option>
                                </select>
                                <select class="custom-select" th:attr="name='addedOptionId'">
                                    <option th:each="option: ${profile.availableOptionsToChoose}"
                                            th:value="${option.id}"
                                            th:text="${option.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 pb-3">
                            <br/>
                            <button type="submit" class="btn btn-primary">Add option</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{footer::footer}"></footer>
</body>
</html>