<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbarAdmin}"></header>
<main class="container-fluid">
    <div class="py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4 mx-2">Edit panel</h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-8">
                    <form class="m-1" th:method="POST" th:action="@{/admin/edit/{id}(id = ${userDto.getId()})}" th:object="${editUserDto}">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="firstname" class="form-label ml-1">First name</label>
                                <input id="firstname" type="text" class="form-control" th:classappend="${#fields.hasErrors('firstname')}?'is-invalid'" th:placeholder="${userDto.firstname}" th:field = "*{firstname}">
                                <small class="invalid-feedback" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></small>
                            </div>
                            <div class="form-group col-6">
                                <label for="lastname" class="form-label ml-1">Last name</label>
                                <input id="lastname" type="text" class="form-control" th:classappend="${#fields.hasErrors('lastname')}?'is-invalid'" th:placeholder="${userDto.lastname}" th:field = "*{lastname}">
                                <small class="invalid-feedback" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="birthdate" class="form-label ml-1">Birth date</label>
                                <input id="birthdate" type="date" class="form-control" th:placeholder = "${userDto.birthdate}" readonly>
                            </div>
                            <div class="form-group col-4">
                                <label for="email" class="form-label ml-1">E-mail</label>
                                <input id="email" type="text" class="form-control" th:classappend="${#fields.hasErrors('email')}?'is-invalid'" th:placeholder="${userDto.email}" th:field = "*{email}">
                                <small class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                            </div>
                            <div class="form-group col-4">
                                <label for="passport" class="form-label ml-1">Passport</label>
                                <input id="passport" type="text" class="form-control" th:classappend="${#fields.hasErrors('passport')}?'is-invalid'" th:placeholder="${userDto.passport}" th:field = "*{passport}">
                                <small class="invalid-feedback" th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}"></small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="address" class="form-label ml-1">Address</label>
                                <input id="address" type="text" class="form-control" th:classappend="${#fields.hasErrors('address')}?'is-invalid'" th:placeholder="${userDto.address}" th:field = "*{address}">
                                <small class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
                            </div>
                        </div>
                        <hr class="w-75">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="login" class="form-label ml-1">Login</label>
                                <input id="login" type="text" class="form-control" th:placeholder = "${userDto.login}" readonly>
                            </div>
                            <div class="form-group col-6">
                                <label for="password" class="form-label ml-1">Password</label>
                                <input id="password" type="password" class="form-control" th:classappend="${#fields.hasErrors('password')}?'is-invalid'" placeholder="Password" th:field = "*{password}">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                            </div>
                        </div>
<!--                        <input id="role" type="hidden" th:name="'role'" th:value="${userDto.role}">-->
<!--                        <input id="status" type="hidden" th:name="'status'" th:value="${userDto.status}">-->
                        <div class="form-row pt-3">
                            <div class="col-8"><button type="submit" class="btn btn-block btn-sm btn-success">Save changes</button></div>
                            <div class="col"><a th:href="@{/admin/adminPanel}" class="btn btn-block btn-sm btn-outline-danger">Cancel</a></div>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <p th:text="${userDto.status}"></p>
                    <p th:text="${userDto.id}"></p>
                    <p th:text="${userDto.role}"></p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{footer::footer}"></footer>
</body>
</html>
