<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magenta Operator</title>
    <link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
</head>
<body>
<header th:replace="~{header::navbarAdmin}"></header>
<main class="mt-4">
    <div class="py-1" style="">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <div class="col-md-12 px-0">
                        <div class="card text-white bg-info shadow-lg my-0">
                            <div class="row justify-content-center my-2">
                                <h4 class="col-md-6 text-center"><b class="text-uppercase">Balance:</b></h4>
                                <div class="col-md-6">
                                    <p class="lead text-center mr-auto mb-0" th:text="${profile.user.balance} + '$'"></p>
                                </div>
                                <a class="col-md-10 btn btn-outline-dark py-0"
                                     th:classappend="${profile.user.status != profile.user.status.ACTIVE}? 'disabled' "
                                     th:href="@{/admin/user/{id}balance (id = ${profile.user.id})}">Add funds</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-row card-body pb-2 mb-2">
                        <div class="col-md-12">
                            <div class="form-row">
                                <form th:action="@{/admin/user/status}" th:method="POST" th:object="${status}"
                                      th:if="${profile.user.status == profile.user.status.ACTIVE}" class="col">
                                    <input type="hidden" th:attr="name='entityId'" th:value="${profile.user.id}">
                                    <input type="hidden" th:attr="name='status'" th:value="'INACTIVE'">
                                    <button type="submit" class="btn btn-block btn-outline-danger">Deactivate</button>
                                </form>
                                <form th:action="@{/admin/user/status}" th:method="POST" th:object="${status}"
                                      th:if="${profile.user.status == profile.user.status.ACTIVE}" class="col">
                                    <input type="hidden" th:attr="name='entityId'" th:value="${profile.user.id}">
                                    <input type="hidden" th:attr="name='status'" th:value="'BLOCKED'">
                                    <button type="submit" class="btn btn-block btn-outline-warning">Block</button>
                                </form>
                                <form th:action="@{/admin/user/status}" th:method="POST" th:object="${status}"
                                      th:if="${profile.user.status == profile.user.status.INACTIVE}" class="col">
                                    <input type="hidden" th:attr="name='entityId'" th:value="${profile.user.id}">
                                    <input type="hidden" th:attr="name='status'" th:value="'ACTIVE'">
                                    <button type="submit" class="btn btn-block btn-outline-success">Activate</button>
                                </form>
                                <form th:action="@{/admin/user/status}" th:method="POST" th:object="${status}"
                                      th:if="${profile.user.status == profile.user.status.BLOCKED}" class="col">
                                    <input type="hidden" th:attr="name='entityId'" th:value="${profile.user.id}">
                                    <input type="hidden" th:attr="name='status'" th:value="'ACTIVE'">
                                    <button type="submit" class="btn btn-block btn-outline-success">Unblock</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card border rounded-lg border-dark shadow">
                        <h4 class="card-header">Information</h4>
                        <div class="card-body">
                            <dl>
                                <dt>First name</dt>
                                <dd th:text="${profile.user.firstname}">Kirill</dd>
                                <dt>Last name</dt>
                                <dd th:text="${profile.user.lastname}">Streltsov</dd>
                                <dt>Address</dt>
                                <dd th:text="${profile.user.address}">Saint-Petersburg</dd>
                                <dt>Birth date</dt>
                                <dd th:text="${profile.user.birthdate}">14.01.1992</dd>
                                <dt>E-mail</dt>
                                <dd th:text="${profile.user.email}">Skaleksandrovich@inbox.ru</dd>
                                <dt>Passport</dt>
                                <dd th:text="${profile.user.passport}">1111 234567</dd>
                            </dl>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-info" th:href="@{/admin/user/edit{id}(id=${profile.user.id})}">Edit</a>
                            <a class="btn btn-danger" th:href="@{/admin/user/delete{id}(id=${profile.user.id})}">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row" th:if="${profile.user.status == profile.user.status.BLOCKED}">
                        <div class="alert alert-warning flex-grow-1 shadow-lg mb-4">
                            <h1 class="alert-heading text-center mb-0">Account blocked!</h1>
                        </div>
                    </div>
                    <div class="row" th:if="${profile.user.status == profile.user.status.INACTIVE}">
                        <div class="alert alert-danger flex-grow-1 shadow-lg mb-4">
                            <h1 class="alert-heading text-center mb-0">Account inactive!</h1>
                        </div>
                    </div>
                    <div class="row" th:if="${profile.user.status == profile.user.status.ACTIVE}">
                        <div class="alert alert-success flex-grow-1 shadow-lg mb-4">
                            <h1 class="alert-heading text-center mb-0">Account active</h1>
                        </div>
                    </div>
                    <div class="col-md-12 my-2 pt-1">
                        <a class="btn btn-primary btn-block"
                           th:classappend="${profile.user.status != profile.user.status.ACTIVE}? 'disabled' "
                           th:href="@{/admin/user/{id}/addContract (id = ${profile.user.id})}">Add contract</a>
                    </div>
                    <div class="card">
                        <div class="card-body shadow border-top border-info">
                            <h1 class="text-center bg-light text-body">Contract list</h1>
                            <div class="list-group">
                                <a th:each="contract: ${profile.numbers}" th:href="@{/admin/contract/{id}(id = ${contract.id})}"
                                   class="list-group-item list-group-item-action flex-column align-items-start shadow">
                                    <div class="card">
                                        <div class="card-body row justify-content-between">
                                            <div class="col-md-6">
                                                <h4 class="card-title text-center"><b th:text="${contract.number}"></b></h4>
                                                <h5 class="card-subtitle my-2 text-center" th:text="${contract.tariff.name}"></h5>
                                                <p class="card-text text-center" th:text="${contract.tariff.tariffDescription}"></p>
                                            </div>
                                            <div class="col-md-4">
                                                <ul th:each="option: ${contract.options}">
                                                    <li class="" th:text="${option.name}"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{footer::footer}"></footer>
</body>
</html>